flask==2.3.2
flask-cors==4.0.0
flask-sqlalchemy==3.1.1
flask-jwt-extended==4.5.3
python-dotenv==1.0.0
werkzeug==3.0.1
bcrypt==4.1.2
numpy
pandas
scikit-learn
joblib
shap
lime
deap==1.4.1
catboost
xgboost
